@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "B612", sans-serif;
  text-align: center;
}
header {
  padding: 30px;
}
.judul {
  margin-top: 80px;
  margin-bottom: 20px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box div {
  background-color: rgb(51, 66, 87);
  height: 70px;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  border-radius: 10px;
  color: aliceblue;
  padding-top: 25px;
}
.box div:hover {
  background-color: rgb(14, 31, 56);
  transition-duration: 0.8s;
}
