@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
main {
  margin-top: 100px;
  font-family: "Mina", sans-serif;
}
.nomor {
  margin: 10px;
  font-size: 100px;
}
#btn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-family: "Mina", sans-serif;
  padding-top: 2px;
  border: 2px solid black;
  border-radius: 48px;
  margin: 7px;
  cursor: pointer;
}
.btn:hover {
  background-color: cornflowerblue;
}
